################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SherlockAvlApI/.sonarqube/bin
/SherlockAvlApI/.vs/SherlockAvlApI/v15/Server/sqlite3
